@charset "utf-8";

/*기본영역*/
body{
    font-size: 12px;
    background-color: #fdfcf0;
}
/*h1은 설정이 이렇게 해도 안들어감 */



#wrap{
    width: 1000px;
    margin:0 auto; 
    
}

/*헤더영역*/

header>h1{
    padding:50px 0 20px 0; 
    font-size: 15px;
}

/*인접형제 (동기)연산자 p선택  :  ~, +*/
header>h1+p{
    font-weight: 800;    
    line-height: 140%;/*기본값 : 120% 또는 1.2*/
}


/*본문영역 */
section{
    margin:20px 0;
/*    outline: 1px solid red;*/
}

section>.guide{
    padding: 40px 0;
    border:1px solid #e1ddd3;
    border-right: none;
    border-left: none;
}


section>.guide>h3{
    margin-bottom:20px; margin-left: 30px;
/*  margin-left와  text-indent:  30px;*/
    /*둘이 결과는 같다.*/
    color:#764d25; font-size: 13px;
}
section>.guide>ul{
    margin-left: 30px;
}
section>.guide>ul>li{}




section>.contact{}






/*footer>p>a{
    display: block; 
    margin: 0 auto;
    width: 160px; height: 25px;
    line-height: 25px;
    text-align: center;
    
    border:2px solid #727272;
    border-radius: 5px;
}*/

/*푸터영역*/
footer>p>button{
    /*버튼을 스타일링 할 때는 built-in CSS 초기화*/
    padding: 0;
    background: none;
    border: none;
    outline:none;
    box-sizing: content-box;
    
    display: block; 
    margin: 0 auto;
    width: 160px; height: 25px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    
    border:2px solid #727272;
    border-radius: 5px;
    
}
